<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="./assets/skull01_96774.ico" type="image/x-icon">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <link rel="stylesheet" href="style.css">
     <title>All Horror Stories</title>
</head>

<body class="bg-dark">

     <div id="app">

          <header class="w-100 bg-dark border-bottom p-3 d-flex align-items-center justify-content-between sticky-top shadow d-sm-none" data-bs-theme="dark">
               <div class="d-flex align-items-center">
                    <img src="./assets/ghost2.png" alt="skull">
                    <h4 class="m-0 text-danger ps-2">All stories</h4>
               </div>
               <div v-cloak class="text-light">Found {{filteredMovies.length}} stories!</div>
          </header>

          <span>{{filter}}</span>

     <!-- Nav TOP section -->
          <nav class="navbar navTop sticky-sm-top navbar-expand-lg bg-dark border-bottom border-bottom-dark shadow d-none d-sm-flex" data-bs-theme="dark">
               <div class="container-fluid">
                    <a class="navbar-brand text-light fw-bold" href="./index.html">
                         <img src="./assets/ghost2.png" alt="skull">
                         Casper's 
                         <span class="text-danger">Horror Movies</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item text-danger">
                                   <a class="nav-link active text-danger" href="#">All</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./movies.html">Movies</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./series.html">Series</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./cortos.html">Short</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./books.html">Books</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./top.html">Top</a>
                              </li>
                         </ul>
                         <!-- Input Search -->
                         <div class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>

     <!-- Cards container section -->
          <section class="row justify-content-center pt-4 px-2 w-100 mx-0">
          <!-- Card individual model -->
               <div v-cloak v-if="filteredMovies.length != 0"  :class="filteredMovies.length <= 3 ? 'col-6 col-sm-5 col-lg-3 col-xxl-2 p-1 d-flex align-items-start z-3' : 'col-6 col-sm-5 col-lg-3 col-xxl-2 p-1 z-3'" v-for="movie of filteredMovies">
                    <a role="button" :href=`./details.html?id=${movie.id}` :class="movie.details ? 'cardHover' : ''" target="_blank">
                         <div class="card h-100 bg-light text-dark border-0">
                              <img :src="movie.cover ? movie.cover : './assets/no-image.png' " class="card-img-top object-fit-cover cover rounded-top-2 shadow h-100 z-1" alt="...">
                              <div class="card-body">
                                   <h6 class="card-title text-light">{{movie.title}}</h6>
                                   <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="fw-lighter fst-italic m-0 small text-white"> {{movie.year ? movie.year : "unknown"}}</h6>
                                        <span class="d-flex align-items-center text-secondary"> 
                                             <i class="bi bi-star-half text-secondary me-2"></i>
                                             <span class=" text-danger fw-bold pe-1 ">
                                                  {{ movie.web_calification ? movie.web_calification :"unknown"}}
                                             </span> 
                                             / 10 
                                        </span>
                                   </div>

                              </div>
                              <div>
                                   <ul class="list-group list-group-flush mb-2">
                                        <li class="list-group-item bg-dark d-flex justify-content-between py-1 px-1 mx-2 rounded">
                                             <span class="card-text text-small fst-italic recent text-light ">{{checkNewMovies(movie.add_date) ? 'Recently updated' : `Las update ${movie.add_date}` }}</span>
                                        </li>
                                   </ul>
                              </div>


                         </div>
                    </a>
               </div>
               <div v-cloak v-else-if="filteredMovies.length == 0">
                    <div class="d-flex flex-column justify-content-start h3 text-center gap-3">
                         <span class="text-light fst-italic">There is no movie with taht name</span>
                         <img class="notFoundImg justify-content-center" src="./assets/skull.png" alt="ghost icon">
                         <span class="text-danger">" {{inputValue}} "</span>
                         <span class="text-light fst-italic">Please try again</span>
                    </div>
               </div>

          </section>

          

          <!-- Nav BOTTOM section -->
          <nav class="navbar navBottom bg-dark border-top border-top-dark d-sm-none py-3 fixed-bottom text-secondary shadow" data-bs-theme="dark">
               <div class="container-fluid">
                    <div class="d-flex justify-content-evenly gap-3 w-100 align-items-center">
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link active text-danger fw-bold" href="#">All</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./movies.html">Movies</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./series.html">Series</a>
                         </div>
                         <div class="nav-item">
                              <a class="nav-link" href="./cortos.html">Short</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./books.html">Books</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./top.html">Top</a>
                         </div>
                         <i :class="arrowDirection == false ? 'bi bi-arrow-bar-down text-dark' : 'bi bi-arrow-bar-up text-danger'"  title="Back to the top" @click="moveTo"></i>
                         <div class="d-flex gap-3 align-items-center">
                              <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="bi bi-search"></span>
                              </button>
                         </div>
                    </div>
                    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent2">
                         <!-- Input Search -->
                         <div class="d-flex mt-3" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>

     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script type="module" src="./js/all.js"></script>
</body>

</html>