<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="./assets/skull01_96774.ico" type="image/x-icon">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <link rel="stylesheet" href="style.css">
     <title>Horror Books</title>

</head>

<body class="bg-dark">

     <div id="app">

          <span id="computedFunction"></span>

          <nav class="navbar navTop sticky-sm-top navbar-expand-lg bg-dark border-bottom border-bottom-dark d-none d-sm-flex" data-bs-theme="dark">
               <div class="container-fluid">
                    <a class="navbar-brand text-light fw-bold" href="./index.html">
                         <img src="./assets/ghost2.png" alt="skull">
                         Casper's 
                         <span class="text-danger">Horror Movies</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item text-danger">
                                   <a class="nav-link" href="./all.html">All</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./movies.html">Movies</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./series.html">Series</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link active fw-bold text-danger" href="#">Books</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./books.html">Top</a>
                              </li>
                         </ul>
                         <!-- Input Search -->
                         <div class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>

          <section class="row justify-content-center py-5 px-2 w-100 mx-0">

               <div v-if="onlyBooks.length != 0" class="col-6 col-sm-5 col-lg-3 col-xxl-2 p-1" v-for="book of onlyBooks">

                    <div class="card h-100">
                    <img :src="book.cover" class="card-img-top cover p-2" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">{{book.title}}</h5>
                         <h6 class="fw-lighter fst-italic">
                         </h6>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item d-flex justify-content-between">
                              <span class="d-flex align-items-center">{{book.year}}</span>
                              <span class="d-flex align-items-center"> <span class=" text-danger fw-bold pe-1">{{ book.web_calification ? book.web_calification :"unknown"}}</span> / 10 
                         </span>
                         </li>
                    </ul>

                    <div class="card-body d-flex justify-content-between align-items-end gap-3">
                         <!-- Sinopsis button -->
                         <a role="button" :href=`./details.html?id=${book.id}` :class="book.details ? 'btn btn-sm btn-danger text-dark fw-bold d-flex align-items-center' : 'btn btn-sm btn-warning text-dark fw-bold d-flex align-items-center'" target="_blank">
                              Details
                              <i class="bi bi-plus-circle-fill text-dark pe-1"></i>
                         </a>
                         <!-- Trailer button -->
                         <a role="button" href="#" class="btn btn-sm btn-danger text-dark fw-bold">
                              Otro
                              <i class="bi bi-film text-dark me-1"></i>
                         </a>
                    </div>

               </div>



          </section>


          <!-- Nav BOTTOM section -->
          <nav class="navbar navBottom bg-dark border-top border-top-dark d-sm-none py-3 fixed-bottom text-secondary" data-bs-theme="dark">
               <div class="container-fluid">
                    <div class="d-flex justify-content-evenly gap-3 w-100 align-items-center">
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="#">All</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./movies.html">Movies</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./series.html">Series</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link active fw-bold text-danger" href="#">Books</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./top.html">Top</a>
                         </div>
                         <div class="d-flex gap-3 align-items-center">
                              <a href="#computedFunction"><img class="returnArrow" src="./assets/arrow.png" alt="arrow" title="Back to the top"></a>
                              <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="bi bi-search"></span>
                              </button>
                         </div>
                    </div>
                    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent2">
                         <!-- Input Search -->
                         <div class="d-flex mt-3" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>


     </div>



     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>

     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

     <script src="data.js"></script>

     <script src="./books.js"></script>

</body>



</html>