<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="./assets/skull01_96774.ico" type="image/x-icon" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
     <link rel="stylesheet" href="style.css" />
     <title>Casper's Horror Movies</title>
</head>

<body class="bg-dark">
     <div id="app">
          <header
               class="w-100 bg-dark p-3 d-flex align-items-center justify-content-between sticky-top border-bottom border-bottom-dark shadow d-sm-none">
               <div class="d-flex align-items-center">
                    <img src="./assets/ghost2.png" alt="skull" />
                    <h4 v-cloak class="m-0 text-danger ps-2">{{storySelected.title}}</h4>
               </div>
          </header>

          <!-- Nav TOP section -->
          <nav class="navbar navTop sticky-sm-top navbar-expand-lg bg-dark border-bottom border-bottom-dark d-none d-sm-flex"
               data-bs-theme="dark">
               <div class="container-fluid">
                    <a class="navbar-brand text-light fw-bold" href="./index.html">
                         <img src="./assets/ghost2.png" alt="skull" />
                         Casper's
                         <span class="text-danger">Horror Movies</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item text-danger">
                                   <a class="nav-link" href="./all.html">All</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./movies.html">Movies</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./series.html">Series</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./books.html">Books</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./top.html">Top</a>
                              </li>
                         </ul>
                         <!-- Input Search -->
                         <div class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   v-model="inputValue" />
                         </div>
                    </div>
               </div>
          </nav>

          <section class="d-flex flex-column align-items-center align-items-sm-start justify-content-center pt-4 flex-md-row">
               <div v-cloak class="card col-11 col-md-6 col-lg-4">
                    <img :src="storySelected.cover" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h2 class="card-title">{{storySelected.title}}</h2>
                         <h4 class="fw-lighter fst-italic">
                              {{storySelected.optional_title ? storySelected.optional_title :
                              "unknown"}}
                         </h4>
                         <p class="card-text pt-2">{{storySelected.sinopsis}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">Released in {{storySelected.year}}</li>
                         <li class="list-group-item">
                              Rate:
                              <span class="text-danger fw-bold px-1">{{storySelected.web_calification}}</span>
                              / 10
                         </li>
                         <li class="list-group-item">
                              Overall ranking
                              <span class="text-danger fw-bold px-1">
                                   #{{storySelected.clasification == "movie" ?
                                   overAllObject.movies+1 : storySelected.clasification == "serie"
                                   ? overAllObject.series+1 : storySelected.clasification == "book"
                                   ? overAllObject.books+1 : "" }}
                              </span>
                         </li>
                         <li class="list-group-item">
                              Clasification: {{storySelected.clasification}}
                         </li>
                         <li class="list-group-item">
                              Movie genre: {{storySelected.gender ?? '' }}
                         </li>
                         <li class="list-group-item d-flex flex-column overflow-x-auto d-md-none">
                              <h4 class="my-2">Movie Universe</h4>
                              <div class="d-flex gap-2">
                                   <div class="w-100" v-for="story of universeStories" >
                                        <a :href=`./details.html?id=${story.id}` class="text-danger">
                                             <img :src="story.cover" class="object-fit-sm-contain border rounded" style="height: 15rem; width: 10rem;" alt="...">
                                        </a>
                                        <div class="card-body d-flex justify-content-center">
                                             <h6 class="small fw-bold">{{story.title}}</h6>
                                        </div>
                                   </div>
                              </div>
                         </li>
                         <li class="px-3 card-title h5 mt-4">Trailer</li>
                         <iframe class="w-100 video py-3" :src="storySelected.trailer" title="YouTube video player"
                              frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                              allowfullscreen>
                         </iframe>
                    </ul>
                    <div class="card-body d-flex justify-content-between">
                         <a href="#" class="card-link text-danger">Card link</a>
                         <a href="#" class="card-link text-danger">Another link</a>
                    </div>
               </div>
          <!-- Related section -->   
               <div class="row row-cols-3 row-cols-md-3 g-4 align-items-start px-2 px-sm-4 mt-3 mt-sm-0">
                    <div class="col px-1 mt-sm-0" v-for="story of relatedStories">
                         <div class="card h-100">
                              <img :src="story.cover" class="card-img-top" alt="..." />
                              <div class="card-body">
                                   <h6 class="card-title">{{story.title}}</h6>
                                   <h6 class="card-text"><i class="bi bi-star-half text-warning"></i> {{story.web_calification}}</h6>
                              </div>
                              <div class="card-footer">
                                   <h6 class="card-text">{{story.year}}</h6>
                              </div>
                         </div>
                    </div>
               </div>
               
          </section>

     <!-- Nav BOTTOM section -->
          <nav class="navbar navBottom bg-dark border-top border-top-dark d-sm-none py-3 fixed-bottom text-secondary shadow"
               data-bs-theme="dark">
               <div class="container-fluid">
                    <div class="d-flex justify-content-evenly gap-3 w-100 align-items-center">
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./all.html">All</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./movies.html">Movies</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./series.html">Series</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./books.html">Books</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./top.html">Top</a>
                         </div>
                         <div class="d-flex gap-3 align-items-center">
                              <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse"
                                   data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                                   aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="bi bi-search"></span>
                              </button>
                         </div>
                    </div>
                    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent2">
                         <!-- Input Search -->
                         <div class="d-flex mt-3" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   v-model="inputValue" />
                         </div>
                    </div>
               </div>
          </nav>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script type="module" src="./details.js"></script>
</body>

</html>