<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="./assets/skull01_96774.ico" type="image/x-icon">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <link rel="stylesheet" href="loader.css">
     <link rel="stylesheet" href="style.css">
     <title>All Horror Stories</title>
</head>

<body class="bg-dark">

     <div id="app">

          <header
               class="w-100 bg-dark border-bottom p-3 d-flex align-items-center justify-content-between sticky-top shadow d-sm-none"
               data-bs-theme="dark">
               <div class="d-flex align-items-center">
                    <img src="/ghost2.png" alt="ghost" />
                    <h4 class="m-0 text-danger ps-2">All stories</h4>
               </div>
               <div v-cloak class="text-light">Found {{filteredMovies.length}} stories!</div>
          </header>

          <span>{{filter}}</span>

          <!-- Nav TOP section -->
          <nav class="navbar navTop sticky-sm-top navbar-expand-lg bg-dark border-bottom border-bottom-dark shadow d-none d-sm-flex"
               data-bs-theme="dark">
               <div class="container-fluid">
                    <a class="navbar-brand text-light fw-bold" href="./index.html">
                         <img src="./assets/skull.png" alt="skull">
                         Casper's
                         <span class="text-danger">Horror Movies</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item text-danger">
                                   <a class="nav-link active text-danger" href="#">All</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./movies.html">Movies</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./series.html">Series</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./cortos.html">Short</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./books.html">Books</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./top.html">Top</a>
                              </li>
                         </ul>
                         <!-- Input Search -->
                         <div class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>

          <!-- Container section -->
          <section v-if="filteredMovies.length !== 0" class="row justify-content-center pt-4 px-2 w-100 mx-0">
               <!-- Container of Categories section -->
               <div class="d-flex flex-column gap-2">
                    <div class="w-100 d-flex flex-column" v-for="(object, index) in arrayOfObjectCategories">
                         <h4 v-cloak class="text-light mb-3"><span
                                   class="fw-bold text-danger me-2">|</span>{{(object[0].gender).toUpperCase()}}</h4>
                         <!-- Container of Cards section -->
                         <div class="d-flex overflow-x-auto gap-3 mb-4">
                              <div v-for="movie of object" class="text-light ">
                                   <a :href=`./details.html?id=${movie.id}` class="text-danger">
                                        <img class="object-fit-cover rounded shadow" :src="movie.cover"
                                             :alt="movie.title" :title="movie.title" style="height: 15rem;">
                                   </a>
                              </div>
                         </div>
                    </div>
               </div>

          </section>
          <div v-else class="loader-container">
               <div class="loader"></div>
          </div>

          <!-- Nav BOTTOM section -->
          <nav class="navbar navBottom bg-dark border-top border-top-dark d-sm-none py-3 fixed-bottom text-secondary shadow"
               data-bs-theme="dark">
               <div class="container-fluid">
                    <div class="d-flex justify-content-evenly gap-3 w-100 align-items-center">
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link active text-danger fw-bold" href="#">All</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./movies.html">Movies</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./series.html">Series</a>
                         </div>
                         <div class="nav-item">
                              <a class="nav-link" href="./cortos.html">Short</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./books.html">Books</a>
                         </div>
                         <div class="d-flex flex-column align-items-center">
                              <a class="nav-link" href="./top.html">Top</a>
                         </div>
                         <i :class="arrowDirection == false ? 'bi bi-arrow-bar-down text-dark' : 'bi bi-arrow-bar-up text-danger'"
                              title="Back to the top" @click="moveTo"></i>
                         <div class="d-flex gap-3 align-items-center">
                              <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse"
                                   data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                                   aria-expanded="false" aria-label="Toggle navigation">
                                   <span class="bi bi-search"></span>
                              </button>
                         </div>
                    </div>
                    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent2">
                         <!-- Input Search -->
                         <div class="d-flex mt-3" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   v-model="inputValue">
                         </div>
                    </div>
               </div>
          </nav>

     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script type="module" src="./js/all.js"></script>
</body>

</html>